@font-face {
  font-family: 'Yeongdo-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Yeongdo-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

#headerContainer {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  #start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 50px;

    .logoBox {
      display: flex;
      justify-content: center;
      align-items: center;

      .logoTitle {
        margin-left: 40px;
        position: relative;
        font-family: 'yeongdo-Rg', sans-serif;

        .logo {
          width: 64px;
          height: 64px;
          position: absolute;
          top: -25px;
          right: 30px;
        }
      }

    }

    .menuImgBox{
      margin: 0 15px 0 15px;
      cursor: pointer;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .menuBtn {
        width: 14px;
        height: 14px;
      }
    }
    .menuImgBox:hover {
      background-color: #f0f0f0;

    }

    .menuImgBox:active {
      background-color: #e9e9e9;

    }


  }

  #center {
    position: absolute;
    left: 35%;
    flex: 0 1 732px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 450px;


    .searchBox {
      display: flex;
      justify-content: center;
      align-items: center;


      .inputFormFocus {
        padding-left: 30px;
        border: 1px solid #065fd4;
        box-shadow: inset 0 1px 2px #065fd4;
      }

      .inputForm {
        overflow: hidden;
        z-index: 1;
        transition: padding-left 0.5s ease;
        width: 340px;
        border-radius: 24px 0 0 24px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 2px #ccc;
        border-right: none;
        display: flex;
        justify-content: flex-start;

        .inputBox {
          width: 100%;
          margin-left: 5px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .searchInput {
            border: none;
            padding: 0;
            margin: 0;
            height: auto;
            width: 100%;
            background-color: transparent;
            outline: none;
          }

          .searchInput {
            font-size: 11px;
            line-height: 24px;

          }
        }


      }

      .searchEmpty {
        position: absolute;
        left: 35px;

        .searchIconFront {
          padding: 0 5px 0 5px;
          width: 20px;
          height: 20px;
          opacity: 1;
          transition: opacity 0.5s ease-in-out;
        }
        .searchIconFrontHover{
          opacity: 0;
        }
      }


      .searchBtn {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-right: none;
        box-shadow: inset 0 1px 2px #ccc;
        caret-color: #0f0f0f;
        border-radius: 0 24px 24px 0;
        border-left: none;
        cursor: pointer;

        .searchIconBack {
          width: 24px;
          height: 24px;
        }
      }

      .searchBtn:hover {
        background-color: #f0f0f0;

      }

      .searchBtn:active {
        background-color: #e9e9e9;

      }
    }

  }

  #end {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .writeBox {
      border-radius: 50%;
      left: 0;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;

      .writeIcon {
        width: 16px;
        height: 16px;
      }
    }

    .writeBox:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

    .ProfileBox {
      margin-left: 20px;
      cursor: pointer;
      border-radius: 50%;
      border: solid black 1px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      .profileImg {
        width: 24px;
        height: 24px;
      }
    }
  }
}