hr {
  margin: 0;
}


body{
  overflow: hidden;
}



.titleBox {
  width: 100%;
  height: 100%;
  //background-color: yellow;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .title {
    position: relative;
    font-size: 30px;
    color: white;
    z-index: 9;
    margin-top: 21px;
    padding-left: 20px;
  }
}


.backDrop {
  position: absolute;
  background-color: transparent;
  width: 6400px;
  height: 201px;
  z-index: 1;
}

#timeLineContainer {
  background: url('http://unsplash.it/1200x800') center center no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, #fddb92, #d1fdff, #fcb69f, #fdc79d, #ff9a9e); /* 썬셋 그라데이션 */
    opacity: .6;
  }
  //background: url("../js/background.jfif") repeat-x;
  //background-size: auto;
  position: relative;
  transition: all 1s ease;
  width: 6400px;
  height: 100vh;
  .backgroundImg{
    width: 450px;
    height: 350px;
    position: fixed;
    border-radius: 5px; /* 모서리 둥글게 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
    left: 50%; /* 화면 가로의 중앙 */
    top: 50%; /* 화면 세로의 중앙 */
  }
  .offBackground{
    display: none;
  }

  .timeLineBoxTop {
    animation: moveToTop 1s ease forwards;
  }

  .timeLineBoxMid {
    animation: moveToMid 1s ease forwards;

  }

  @keyframes moveToTop {
    from {
      top: 50%;
    }
    to {
      top: 0;
      margin-top: 125px;
    }
  }
  @keyframes moveToMid {
    from {
      top: 0;
      margin-top: 170px;
    }
    to {
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0;
    }
  }

  .timeLineBox {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-direction: column;
    width: 100%;

  }

  .timeLine {
    //background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #fcb69f); /* 두꺼운 띠 느낌의 그라데이션 배경 */
    //border-radius: 12px; /* 둥근 모서리 */
    //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 살짝 그림자 */

    background: linear-gradient(135deg, #fddb92, #d1fdff, #fcb69f, #fdc79d, #ff9a9e); /* 썬셋 그라데이션 */
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    height: 75px;
    width: 6400px;
    //background-color: #282c34;
    display: flex;
  }


  .timeLineTop {
    position: relative;
  }

  .timeLineBottomAnimate {

  }

  .timeLineBottom {
    transition: opacity 1s ease-in-out;

    .data {
      z-index: 2;
      position: relative;
      color: white;
      margin-top: -18px;
      margin-left: 200px;
    }

    .data:first-child {
      margin-left: 1000px;
    }

    .data:last-child {
      margin-right: 1000px;
    }
  }
}

.circleIcon {
  position: relative;
  z-index: 5;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.circleIconSizeUp {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

.removeCircle {
  opacity: 0;
}
