.guideBar{
  padding-left: 5px;
  .GuidBarContainer{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //padding-left: 5px;
    width: 150px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-direction: column;
    padding: 10px 0;
    height: 100px;
    overflow: hidden;
  }
  .GuidBarContainer:hover{
    overflow: inherit;
    height: auto;
  }
  .ContainerContent{
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 2px 0;
  }
  .ContainerContent:hover{
    //border: 1px solid #ccc;
    //box-shadow: inset 0 1px 2px #ccc;
    caret-color: #0f0f0f;
    border-radius: 8px;
    background-color: #f0f0f0;
  }
  .homeContainer{

    .home{
      caret-color: #0f0f0f;
      background-color: #f0f0f0;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .homeIcon{
        width: 16px;
        height: 16px;
        margin: auto 15px;
      }
      .homeText{
        width: 75%;
        text-align: start;
        font-size: 10px;
        font-weight: 500;
      }
    }

  }
  .yearContainer{

  }
  .monthContainer{

  }
  .settingContainer{

  }
}