#videoPlatForm {
  //background-color: wheat;
  width: 1280px;
  margin-top: 124px;
  position: absolute;
  z-index: 5;
  overflow: auto;
  height: 520px;
  background-color: white;
  
  .box{
    display: flex;
    flex-direction: column;
    .month {
      font-size: 1.1rem;
      margin: 15px 0 15px 24px;
      font-weight: 700;
      text-align: start;
    }
    .monthInfo {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 155px;
      .videoBox {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4열로 설정 */
        gap: 10px; /* 각 아이템 간의 간격 */
        .card {
          height: 100%;

          .videoCard {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 300px;
            margin: 0 8px 40px 24px;

            .video {
              overflow: hidden;
              border-radius: 4%;
            }

            .infoCard {
              width: 100%;
              display: flex;

              .videoProfile {
                margin-top: 10px;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: start;

                .videoProfileBox {
                  width: 28px;
                  height: 28px;
                  //border: solid black 1px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .miniProfile {
                    width: 20px;
                    height: 20px;
                  }
                }
              }

              .videoText {
                line-height: 1.1rem;
                margin: 5px 0;

                .videoTitle {
                  font-size: 14px;
                  text-align: start;
                  line-height: 1.1rem;
                }

                .riterName {
                  font-size: 10px;
                  text-align: start;
                }

                .detailInfo {
                  display: flex;
                  text-align: start;

                  .viewCount {
                    font-size: 10px;
                  }

                  .time {
                    font-size: 10px;
                  }
                }

              }
            }

          }
        }
      }
    }
  }

}