#videoPlatForm{
  background-color: wheat;
  width: 1280px;
  margin-top: 124px;
  position: absolute;
  height: 5400px;
  z-index: -1;
  //display: none;
  .monthInfo{
    height: 300px;
    background-color: blue;
    .month{

    }
    .videoBox{

    }
  }
}